.main {
  padding: 50px;
  color: var(--primary-dark);
}

.ordersList {
  margin-top: 50px;
  padding-inline: 50px;
  border-radius: 20px;
  border: 1px solid var(--secondary-menu-blue);
}

.ordersListItem {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 2fr) 1fr;
  gap: 30px;
  padding-block: 20px;
  border-bottom: 1px solid var(--secondary-menu-blue);
}

.ordersListItem:last-of-type {
  border-bottom: none;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productsListItem {
  list-style-type: disc;
}

.dateAndPrice {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .ordersList {
    padding-inline: 20px;
  }
}

@media (max-width: 620px) {
  .ordersListItem {
    grid-template-columns: 1fr;
  }

  .productsList {
    padding-left: 20px;
  }
}

@media (max-width: 460px) {
  .main {
    padding: 20px;
  }

  .ordersList {
    margin-top: 20px;
  }
}
