.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  position: relative;
}

.button {
  margin-top: 20px;
}

.message {
  position: absolute;
  top: calc(100% + 10px);
  text-align: center;
  width: 100%;
}

.success {
  color: var(--primary-green);
}

.error {
  color: var(--primary-red);
}
