.linksWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: 700;
  font-size: 37px;
  color: var(--primary-dark);
}

.ordersLink {
  color: var(--primary-body);
  font-size: 14px;
  font-weight: 400;
}

.cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--primary-body);
  display: grid;
  place-items: center;
  position: relative;
}

.cartAmount {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  font-size: 14px;
  font-weight: 600;
  color: var(--accent-blue);
  background-color: var(--secondary-white);
  padding-inline: 5px;
  padding-bottom: 5px;
  line-height: 1;
}

.button {
  padding-inline: 20px;
}
